<!-- add_packages.html -->
{% extends "base.html" %}

{% block title %}Add Package{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header" style="background-color: #8f5b34; color: #ffffff;">
            <h2 class="card-title">New Package</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="{{ url_for('add_package') }}">
                <div class="form-group">
                    <label for="package_name">Package Name:</label>
                    <input type="text" class="form-control" name="package_name" required>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" name="description" rows="4" required></textarea>
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" name="price" step="0.01" required>
                </div>

                <div class="form-group">
                    <label for="duration">Duration (in days):</label>
                    <input type="number" class="form-control" name="duration" required>
                </div>

                               <div class="form-group">
    <label for="image_url">Image URL:</label>
    <input type="url" class="form-control" name="image_url" placeholder="Enter Image URL" required>
</div>


                <button type="submit" class="btn btn-primary">Add Package</button>
            </form>
        </div>
    </div>
{% endblock %}
