<!-- templates/update_bus.html -->
{% extends 'base.html' %}

{% block title %}Update Bus{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header bg-light text-dark">
            <h1 class="card-title">Update Bus</h1>
        </div>
        <div class="card-body">
            <form method="POST" action="{{ url_for('update_bus', bus_id=bus.BusID) }}">
                <!-- Form fields to update bus details -->
                <div class="form-group">
                    <label for="bus_name">Bus Name:</label>
                    <input type="text" class="form-control" name="bus_name" value="{{ bus.BusName }}" required>
                </div>

                <div class="form-group">
                    <label for="departure_city">Departure City:</label>
                    <input type="text" class="form-control" name="departure_city" value="{{ bus.DepartureCity }}" required>
                </div>

                <div class="form-group">
                    <label for="arrival_city">Arrival City:</label>
                    <input type="text" class="form-control" name="arrival_city" value="{{ bus.ArrivalCity }}" required>
                </div>

                <div class="form-group">
                    <label for="departure_time">Departure Time:</label>
                    <input type="datetime-local" class="form-control" name="departure_time" value="{{ bus.DepartureTime }}" required>
                </div>

                <div class="form-group">
                    <label for="arrival_time">Arrival Time:</label>
                    <input type="datetime-local" class="form-control" name="arrival_time" value="{{ bus.ArrivalTime }}" required>
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" name="price" step="0.01" value="{{ bus.Price }}" required>
                </div>

                <button type="submit" class="btn btn-primary">Update Bus</button>
            </form>
        </div>
    </div>
{% endblock %}
